{% extends "base.html" %}
{% block title %}Billing Form{% endblock %}

{% block content %}
  <h2>Search Billing Records</h2>
  <form method="GET" action="/search">
    <label>Student ID:</label><br>
    <input type="text" name="student_id" required>
    <button type="submit">Search</button>
  </form>

  <hr>

  <h2>Billing Records</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Student ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Binding</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for bill in records %}
      <tr>
        <td>{{ bill.id }}</td>
        <td>{{ bill.student_id }}</td>
        <td>{{ bill.name }}</td>
        <td>{{ bill.amount }}</td>
        <td>{{ bill.binding }}</td>
        <td>{{ bill.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <form method="GET" action="/download">
  <button type="submit">Download PDF</button>

</form>
<h2>Update Billing Record</h2>
<form method="POST" action="/update">
  <label>Student ID:</label><br>
  <input type="text" name="student_id" required><br><br>

  <label>New Name:</label><br>
  <input type="text" name="name"><br>

  <label>New Amount:</label><br>
  <input type="text" name="amount"><br>

  <label>New Binding:</label><br>
  <input type="text" name="binding"><br>

  <label>New Status:</label><br>
  <input type="text" name="status"><br><br>

  <button type="submit">Update</button>
</form>

{% endblock %}
